.profile
	i.fa.fa-user
	h2 {{client.name}}
	span.badge.badge-primary(ng-if='client.category') {{client.category}}
	span.badge.badge-primary {{client.weight}} lbs
	span.badge.badge-primary {{client.height}} cm