.row
	.medium-6.medium-centered.columns
		ul.small-block-grid-2
			li.centered.clear-padding
				input(type='radio', name='filter', ng-model='option', ng-value='0', id='option0_input')
				label(id='option0_label') Macro per meal
			li
				input(type='radio', name='filter', ng-model='option', ng-value='2', id='option2_input')
				label(id='option2_label') Calories per meal
div.zChart