div.table-responsive
	table.table.table-hover
		thead
			tr
				th(colspan=3)
				th.text-center Protein
				th.text-center Carbs
				th.text-center Fats
				th.text-center Calories
		tbody
			tr.mealHeader(ng-repeat-start='meal in diet.meals')
				th
					input.form-control(ng-model='meal.name')
				th(colspan=2)
				td.text-center
					strong {{meal.protein | number:1}}g
				td.text-center
					strong {{meal.carbs | number:1}}g
				td.text-center
					strong {{meal.fats | number:1}}g
				td.text-center
					strong {{meal.calories | number:1}}
			tr(ng-repeat='foodItem in meal.foodItems')
				td(ng-class="{'has-warning': !foodItem.food}")
					select.form-control(ng-model='foodItem.food', ng-options='food.name for food in foods')
				td
					input.form-control(type='number', min='0', max='1000', ng-model='foodItem.quantity', quantity-format)
				td
					select.form-control(ng-model='foodItem.quantityType', ng-options='type for type in foodItem.quantityTypesCollection')
				td.text-center {{foodItem.protein | number:1}}g
				td.text-center {{foodItem.carbs| number:1}}g
				td.text-center {{foodItem.fats | number:1}}g
				td.text-center {{foodItem.calories | number:0}}
				td.mealDeleteButton
					a.btn.icon-button(ng-click='removeFoodItem(meal,foodItem)')
						i.fa.fa-trash-o
			tr(ng-repeat-end)
				td.mealMenu
					i.fa.fa-plus.btn.btn-info(ng-click='addEmptyFoodItem(meal)')
		tfoot
			th(colspan=3) Diet Total
			th.text-center {{diet.protein | number:1}}g
			th.text-center {{diet.carbs | number:1}}g
			th.text-center {{diet.fats | number:1}}g
			th.text-center {{diet.calories | number:0}}