.centered
	label Breakdown by:
		label.radio-inline
			input(type='radio',i-check, name='filter', ng-model='option', ng-value='0')
			| Macro per meal
		label.radio-inline
			input(type='radio',i-check, name='filter', ng-model='option', ng-value='2')
			| Calories per meal
		label.radio-inline
			input(type='radio',i-check, name='filter', ng-model='option', ng-value='1')
			| Macro % per meal
div.zChart