.row
	.small-1.small-offset-7.columns.small-text-center
		h5 Protein
	.small-1.columns.small-text-center
		h5 Carbs
	.small-1.columns.end.small-text-center
		h5 Fats
z-edit-diet(diet='diet', foods='foods')