
.small-2.columns
	select(ng-model='foodItem.food', ng-options='food.name for food in foods')
.small-2.columns
	input(type='number', min='0', ng-model='quantity', ng-change='changeQuantity()')
.small-2.columns
	select(ng-model='foodItem.quantityType', ng-options='type for type in foodItem.quantityTypesCollection')
.small-1.columns.small-text-center
	p {{foodItem.protein | number:1}}g
.small-1.columns.small-text-center
	p {{foodItem.carbs| number:1}}g
.small-1.columns.small-text-center
	p {{foodItem.fats | number:1}}g
.small-2.columns.small-text-center
	p {{foodItem.calories | number:0}}
.small-1.columns.end
	button.tiny
		i.fi-trash