.row
	.col-xs-2
		select(ng-model='foodItem.food', ng-options='food.name for food in foods')
	.col-xs-2
		input(type='number', min='0', ng-model='quantity', ng-change='changeQuantity()')
	.col-xs-2
		select(ng-model='foodItem.quantityType', ng-options='type for type in foodItem.quantityTypesCollection')
	.col-xs-1.text-center
		p {{foodItem.protein | number:1}}g
	.col-xs-1.text-center
		p {{foodItem.carbs| number:1}}g
	.col-xs-1.text-center
		p {{foodItem.fats | number:1}}g
	.col-xs-1.text-center
		p {{foodItem.calories | number:0}}
	.col-xs-1.end
		button.btn.btn-default(type='button')
			i.fa.fa-trash-o