div(ng-controller="ClientCtrl")
	z-client-profile-card(client='client')
	.btn-group#actionList
		a.btn.btn-primary(type='button')
			i.fa.fa-list Add Meal
		a.btn.btn-primary(type='button')
			i.fa.fa-list Add Meal2
	.panel
		ul.nav.nav-tabs
			li(ng-class='{active: currentDietDetails}')
				a(ng-class='{active: currentDietDetails}', ng-click='changeToCurrentDietDetails()') Diet Details
			li(ng-class='{active: currentDietMealBreakdown}')
				a(ng-click='changeToCurrentDietMealBreakdown()') Diet Breakdown
		.tab-content
			.tab-pane(ng-class='{active: currentDietDetails}', ng-if='currentDietDetails')
				z-diet-details(diet='diet', foods='foods')
			.tab-pane.small-bot-padding(ng-class='{active: currentDietMealBreakdown}', ng-if='currentDietMealBreakdown')
				z-diet-chart(diet='diet')