div(ng-controller="ClientCtrl")
	.container-fluid
		.row
			.col-xs-12
				z-client-profile-card(client='client')
		.row
			.col-xs-12
				.btn-group
					button.btn.btn-primary(type='button',ng-class='{active: currentDietDetails}', ng-click='changeToCurrentDietDetails()') Details
					button.btn.btn-primary(type='button',ng-class='{active: currentDietMealBreakdown}', ng-click='changeToCurrentDietMealBreakdown()') Meal Breakdown
		.row(ng-if='currentDietDetails')
			.col-xs-12
				z-diet-details(diet='diet', foods='foods')
		.row.small-bot-padding(ng-if='currentDietMealBreakdown')
			.col-xs-12
				z-diet-chart(diet='diet')