div(ng-controller="ClientCtrl")
	.row
		.large-12.columns
			z-client-profile-card(client='client')
	.row
		.small-12.columns
			dl.sub-nav
				dd(ng-class='{active: currentDietDetails}', ng-click='changeToCurrentDietDetails()')
					a Details
				dd(ng-class='{active: currentDietMealBreakdown}', ng-click='changeToCurrentDietMealBreakdown()')
					a Meal Breakdown
	div(ng-if='currentDietDetails')
		z-diet-details(diet='clientDiet')
	div(ng-if='currentDietMealBreakdown')
		.row
			.small-12.columns
				z-diet-chart(diet='clientDiet', foods='foods')
