div(ng-controller="ClientsCtrl")
	.row
		.large-12.columns
			.panel.radius
				h2 Clients
				p Clients Description
	.row
		.large-3.columns
			button(ng-click='addRandom()') Add Random (temp)
	.row
		.large-3.columns
			form.panel.radius
				.row
					.large-12.columns
						input(type='text', placeholder='Name')
				.row
					.large-12.columns
						input#maleCheckbox(type='checkbox', checked)
						label(for='maleCheckbox') Male
						input#femaleCheckbox(type='checkbox', checked)
						label(for='femaleCheckbox') Female
				.row
					.large-12.columns
						label Category
						select
							option All
				.row
					.large-12.columns.rightalignchildren
						button.tiny Clear

		.large-9.columns
			ul#clientList
				li(ng-repeat='client in clients')
					a(href='/client?{{client.name}}')
						i.fi-male(ng-if='client.isMale')
						i.fi-female(ng-if='!client.isMale')
						span {{client.name}}
							span.radius.label(ng-if='client.category') {{client.category}}
							span.radius.label {{client.weight}} lbs
							span.radius.label {{client.height}} cm