div(ng-controller="ClientsCtrl")
	.row
		.large-12.columns
			.panel.radius
				h2 Clients
				p Clients Description

	.row
		.large-3.columns
			.panel.radius
				h4 Search
				input
				button(ng-click='addRandom()') Add Random

		.large-9.columns
			ul#clientList
				li(ng-repeat='client in clients')
					a(href='/client?{{client.name}}')
						i.fi-male(ng-if='client.isMale')
						i.fi-female(ng-if='!client.isMale')
						span {{client.name}}
				//li
				//	a(href="/something")
				//		i.fi-male
				//		span John doe
				//li
				//	a#test(href="/something")
				//		i.fi-female
				//		span Jane Doe
				//li
				//	a#test(href="/something")
				//		i.fi-male
				//		span Bob

		//.large-12.columns
		//	p {{helloWorld}}
//.row
//	.large-12.columns
//		table: tbody
//			tr
//				td John Doe
//				td 'goal'
//			tr
//				td Jane Doe
//				td 'goal'
//			tr
//				td Bob
//				td 'goal'