.row
	.large-12.columns
		.panel.radius
			h2 Clients
			p Clients Description

.row
	.large-3.columns
		.panel.radius
			h4 Search
			input

	.large-9.columns
		ul#clientList
			li
				a#test(href="/something")
					i.fi-male
					span John doe
			li
				a#test(href="/something")
					i.fi-female
					span Jane Doe
			li
				a#test(href="/something")
					i.fi-male
					span Bob
//.row
//	.large-12.columns
//		table: tbody
//			tr
//				td John Doe
//				td 'goal'
//			tr
//				td Jane Doe
//				td 'goal'
//			tr
//				td Bob
//				td 'goal'