div(ng-controller="ClientsCtrl")
	.container-fluid
		.row
			.col-xs-12
				.jumbotron
					h2 Clients
					p Clients Description
		.row
			.col-xs-12
				.panel.panel-default
					.panel-body#searchForm
						label Name:
							input(type='text', placeholder='Name', ng-model='filter.name')
						label Sex:
							label.checkbox-inline
								input(type='checkbox', ng-checked='filter.isMale', ng-model='filter.isMale')
								| Male
							label.checkbox-inline
								input(type='checkbox', ng-checked='filter.isFemale', ng-model='filter.isFemale')
								| Female
						label Category:
							select(ng-model='filter.category', ng-options='category for category in categories')
								option(value='') All
						button.btn.btn-primary.btn-sm(type='button', ng-click='clearFilter()') Clear

			.col-xs-12
				.list-group
					a.list-group-item.clientListItem(ng-repeat='client in filteredClients  =(clients | filter:filterBy())', href='#/client/{{client.id}}')
						i.fa.fa-male(ng-if='client.isMale')
						i.fa.fa-female(ng-if='!client.isMale')
						p {{client.name}}
						span.label.label-primary(ng-if='client.category') {{client.category}}
						span.label.label-primary {{client.weight}} lbs
						span.label.label-primary {{client.height}} cm
						//a#clientListDelete(ng-click='removeClient(client)')
							i.fa.fa-trash-o
					a.list-group-item(ng-if='filteredClients.length === 0') No clients