div(ng-controller="ClientsCtrl")
	.container-fluid
		//.row
			.col-xs-12
				.jumbotron
					h2 Clients
					p Clients Description
		.row
			.col-xs-12
				.panel.panel-default
					.panel-body#searchForm
						label.form-inline Name:
							input.form-control(type='text', placeholder='Name', ng-model='filter.name')
						div
							label.checkbox-inline
								input(type='checkbox', i-check, ng-checked='filter.isMale', ng-model='filter.isMale')
								| Male
							label.checkbox-inline
								input(type='checkbox', i-check, ng-checked='filter.isFemale', ng-model='filter.isFemale')
								| Female
						label.form-inline Category:
							select.form-control(ng-model='filter.category', ng-options='category for category in categories')
								option(value='') All
						button.btn.btn-primary.btn-sm(type='button', ng-click='clearFilter()') Clear

			.col-xs-12
				table.table
					tbody
						tr(ng-repeat='client in filteredClients  =(clients | filter:filterBy())')
							td
								a.list-group-item.clientListItem(href='#/client/{{client.id}}')
									i.fa.fa-male(ng-if='client.isMale')
									i.fa.fa-female(ng-if='!client.isMale')
									p {{client.name}}
									span.badge.badge-primary(ng-if='client.category') {{client.category}}
									span.badge.badge-primary {{client.weight}} lbs
									span.badge.badge-primary {{client.height}} cm
							td#clientListDelete
								a.btn.icon-button(ng-click='removeClient(client)')
									i.fa.fa-trash-o
						tr(ng-if='filteredClients.length === 0')
							td
								h4.list-group-item No clients
			.col-xs-12
				a.btn.btn-lg.btn-info#addNewClient(ng-click='addRandomClient()')
					i.fa.fa-lg.fa-plus
					| New client