#clientList
{
  list-style: none;
  li a
  {
    display: flex;
    align-items: center;
  }
  li a i {
    margin-right: 5px;
    font-size: 2rem;
  }
  li a span {
    display: flex;
    align-items: center;
  }
  li a span *{
    margin: 0.5rem;
  }
}