@import 'variables';
@import 'flex';
@import '../../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

.profile
{
  @extend %flexbox;
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(baseline);
  padding: 0.5rem;
  background-color: $light_gray;
  border: 0.1rem solid $gray;
  border-radius: 1rem;
  margin: 1rem;
}

.profile *:first-child
{
  margin-right: 0.4rem;
}

.profile *:not(:last-child):not(:first-child)
{
  margin-right: 0.8rem;
}

.profile i
{
  font-size: 2.5rem;
}

.profile span
{
  @include  align-self(center);
  margin-top: 1rem;
}

.grid
{
  width: 100%;
  height: 250px;
}

.zChart
{
//  height: 100%;
//  width: 100%;
//  height: 35rem;
  height: 500px;
  width: 100%;
}

#actionList
{
  padding-bottom: 10px;
}
