@import 'variables';
@import 'flex';

#searchForm
{
  @extend %flexbox;
  @include justify-content(space-around);
  @include align-items(center);
  @include flex-wrap(wrap);
}

.clientListItem
{
  @extend %flexbox;
  @include align-items(center);
  @include flex-wrap(wrap);
  padding: 1rem;
  i {
    font-size: 2rem;
  }
  p{
    font-size: 2rem;
  }
  span{
    font-size: 1.1rem;
  }
  *{
    margin: 1rem;
  }
}

#clientListDelete
{
  display: flex;
  align-items: center;
  i{
    margin   : 0.6rem 1.0rem;
    font-size: 2rem;
  }
}