@import 'variables';
@import 'flex';

#searchForm
{
  @extend %flexbox;
  @include justify-content(space-around);
  @include align-items(center);
  @include flex-wrap(wrap);
}

.clientListItem
{
  @extend %flexbox;
  @include align-items(center);
  @include flex-wrap(wrap);
  padding: 1rem;
  i {
    font-size: 2rem;
  }
  p{
    font-size: 2rem;
  }
  span{
    font-size: 1.1rem;
  }
  *{
    margin: 1rem;
  }
}

#clientListDelete
{
  height:100%;
  vertical-align: middle;
}
#addNewClient
{
  width:100%;
}