@import "variables";
//@import "links";
@import "skins";
@import 'flex';
@import '../../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

//nav{
//  i{
//    padding-left: 5px;
//    padding-right: 5px;
//  }
//}

#content{
  padding: 10px 15px;
}

.right-align
{
  @extend %flexbox;
  @include justify-content(flex-end);
  justify-content: flex-end;
}

.centered
{
  @extend %flexbox;
  @include justify-content(center);
}

.vertical-center
{
  @extend %flexbox;
  @include align-items(center);
}

.space-around
{
  @extend %flexbox;
  @include justify-content(space-around);
}

.end
{
  @extend %flexbox;
  @include justify-content(flex-end);
}

.start
{
  @extend %flexbox;
  @include justify-content(flex-start);
}

.clear-padding
{
  padding: 0;
}

.small-bot-padding
{
  padding: 1rem;
}

ul li a
{
  cursor: pointer;
}

a i:before
{
  padding-right: 5px;
}

button i:before
{
  padding-right: 5px;
}

label div
{
  margin-right: 5px !important;
}

td
{
  min-width: 50px;
}

td select,input
{
  min-width: 100px;
}

.icon-button
{
  @extend %flexbox;
  @include justify-content(center);
}

.mealHeader
{
  td,th:hover{
    background-color: white !important;;
  }
}

.mealMenu
{
  background-color: white !important;;
  border-top: 0px !important;
}

.mealDeleteButton
{
  background-color: white !important;;
  border-top: 0px !important;
}