@import "variables";
//@import "links";
@import "skins";

nav{
  i{
    padding-left: 5px;
    padding-right: 5px;
  }
}

#content{
  padding: 10px;
}

.rightalignchildren
{
  display: flex;
  justify-content: flex-end;
}