extends layout

block content
	nav.topnavbar.navbar-inverse(data-topbar, role="navigation")
		.container-fluid
			.navbar-header
				a.navbar-brand(href="#")
					i.fa.fa-home
					span FFP
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li: a(href='#/clients')
						i.fa.fa-users
						span Clients
					li: a(href='#/about')
						i.fa.fa-circle
						span About

	div#content(ng-view, ng-controller="AppCtrl")